# test folder
*/Testing
*/**/Testing
*/**/**/Testing
*/**/**/**/Testing

# ninja tem files
.ninja_deps
.ninja_log

# Log files
*.log
*.log.*
*_log
*_log_*

# unnecessary files folders
build
changed_files.txt
